--- 
--- 

@import "{{ site.theme }}";

#sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: #f1f1f1;    
    background-color: rgb(90, 19, 138);
    overflow-x: hidden;
    padding-top: 20px;
}

#sidenav a {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    color: #f1f1f1;
    display: block;
}

#sidenav a:hover {
    color: #f1f1f1;
}

#contents {
    margin-left: 220px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    #sidenav {
        padding-top: 15px;
    }
}

.breadcrumb {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.breadcrumb img {
    width: 200px;
}

.block {
    width: 600px;
}

.block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.block th {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px #808080 solid;
    width: 100px;
}

.param {
    font-weight: bold;
}